* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2323;
}

.imageContainer {
    width: 100%;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    color: #707070;
    margin: 10px;
}

.tableContainer {
    width: 100%;
    height: 55%;
    margin-bottom: 15%;
}

.tableHeader {
    color: #8c7d70;
    text-align: left;
    vertical-align: bottom;
    font-size: large;
}

.tableContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    border-collapse: collapse;
    color: #beb7b7;}

.colTitle {
    width: 15%;
}

.colName {
    width: 60%;
}

.colFaculty {
    width: 25%;
}

tr:nth-child(odd) {
    background-color: #543723;
    align-items: center;
}

.leftBorderRadius {
    border: none;
    border-radius: 5px 0px 0px 0px;
}

.rightBorderRadius {
    border: none;
    border-radius: 0px 0px 5px 0px;
}

.footerTitle {
    text-align: center;
    color: #b6afaf;
}

footer {
    background-color: black;
    color: #b6b0b0;
    height: 4vh;
    width: 100%;
}

.leftFooterContent {
    float: left;
}

.rightFooterContent {
    float: right;
}

td, th {
    height: 32px;
}
